<a href="https://colab.research.google.com/github/Kevin12-0/fastapi/blob/main/sqlalchemy.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

SQL ORM

In [2]:
!pip install SQLAlchemy

Looking in indexes: https://pypi.org/simple, https://us-python.pkg.dev/colab-wheels/public/simple/
Requirement already satisfied: SQLAlchemy in /usr/local/lib/python3.7/dist-packages (1.4.39)
Requirement already satisfied: greenlet!=0.4.17 in /usr/local/lib/python3.7/dist-packages (from SQLAlchemy) (1.1.2)
Requirement already satisfied: importlib-metadata in /usr/local/lib/python3.7/dist-packages (from SQLAlchemy) (4.12.0)
Requirement already satisfied: typing-extensions>=3.6.4 in /usr/local/lib/python3.7/dist-packages (from importlib-metadata->SQLAlchemy) (4.1.1)
Requirement already satisfied: zipp>=0.5 in /usr/local/lib/python3.7/dist-packages (from importlib-metadata->SQLAlchemy) (3.8.1)

import sqlchemy

In [3]:
from sqlalchemy import *

craecion de engenie

In [4]:
engenie = create_engine("sqlite:///prueba.db")

In [5]:
metadata =  MetaData()

Creacion de tabla de la base de datos

In [6]:
clientes = Table(
    "clientes", metadata,
    Column("id cliente", Integer, primary_key=True),
    Column("nombre", String, nullable = False),
    Column("email", String, nullable = False)
)

In [8]:
metadata.create_all(engenie)

insetar datos

In [9]:
stmt = insert(clientes).values(nombre = "Cliente 1", email = "cliente1@email.com")
print(type(stmt))
print(stmt)

<class 'sqlalchemy.sql.dml.Insert'>
INSERT INTO clientes (nombre, email) VALUES (:nombre, :email)

Insertar varios datos

In [14]:
data = [
    {"nombre":"Cliente 2", "email":"clinete2@email.com"},
    {"nombre":"Cliente 3", "email":"cliente3@email.com"},
    {"nombre":"Cliente 4", "email":"cliente4@email.com"}
]

In [15]:
stmt = insert(clientes).values(data)
print(type(stmt))
print(stmt)

<class 'sqlalchemy.sql.dml.Insert'>
INSERT INTO clientes (nombre, email) VALUES (:nombre_m0, :email_m0), (:nombre_m1, :email_m1), (:nombre_m2, :email_m2)

In [16]:
with engenie.connect() as conn:
  result = conn.execute(stmt)

mostrar los datos

In [18]:
stmt = select(clientes)
print(type(stmt))
print(stmt)

<class 'sqlalchemy.sql.selectable.Select'>
SELECT clientes."id cliente", clientes.nombre, clientes.email
FROM clientes

In [19]:
with engenie.connect() as conn:
  result = conn.execute(stmt)
  for row in result.fetchall():
    print(row)

(1, 'Cliente 1', 'cliente1@email.com')
(2, 'Cliente 2', 'clinete2@email.com')
(3, 'Cliente 3', 'cliente3@email.com')
(4, 'Cliente 4', 'cliente4@email.com')
(5, 'Cliente 2', 'clinete2@email.com')
(6, 'Cliente 3', 'cliente3@email.com')
(7, 'Cliente 4', 'cliente4@email.com')